@model AccountDetailsViewModel
@{
	ViewData["Title"] = "Account Details";
}

<section class="account-details">
	<div class="container">
				@if(!string.IsNullOrEmpty(TempData["StatusMessage"]?.ToString()))
		{
			<div class="alert alert-danger">
				@TempData["StatusMessage"]
			</div>
		}
		<form class="form-basic" method="post" asp action="UpdateBasicInfo" asp-controller="Account">
			<h5>Basic Info</h5>
			<div class="form-content">
				<div id="from-firstname" class="input-group">
					<label asp-for="Basic!.FirstName"></label>
					<input asp-for="Basic!.FirstName" />
					<span asp-asp-validation-for="Basic!.FirstName"></span>
				</div>
				<div id="from-lastname" class="input-group">
					<label asp-for="Basic!.LastName"></label>
					<input asp-for="Basic!.LastName" />
					<span asp-asp-validation-for="Basic!.LastName"></span>
				</div>
				<div id="from-email" class="input-group">
					<label asp-for="Basic!.Email"></label>
					<input asp-for="Basic!.Email" />
					<span asp-asp-validation-for="Basic!.Email"></span>
				</div>
				<div id="from-phone" class="input-group">
					<label asp-for="Basic!.PhoneNumber"></label>
					<input asp-for="Basic!.PhoneNumber" />
				</div>
				<div id="from-bio" class="input-group">
					<label asp-for="Basic!.Bio"></label>
					<textarea asp-for="Basic!.Bio"></textarea>
				</div>
				<div class="form-button">
					<button type="reset" class="btn btn-gray">Cancel</button>
					<button type="submit" class="btn btn-theme">Save changes</button>
				</div>
			</div>
		</form>
		<form class="form-address" method="post" asp action="UpdateAddressInfo" asp-controller="Account">
			<h5>Address Info</h5>
			<div class="form-content">
				<div id="from-addressline-1" class="input-group">
					<label asp-for="Address!.AddressLine_1!"></label>
					<input asp-for="Address!.AddressLine_1!" />
					<span asp-asp-validation-for="Address!.AddressLine_1!"></span>
				</div>
				<div id="from-addressline-2" class="input-group">
					<label asp-for="Address!.AddressLine_2!"></label>
					<input asp-for="Address!.AddressLine_2!" />
				</div>
				<div id="from-postalcode" class="input-group">
					<label asp-for="Address!.PostalCode!"></label>
					<input asp-for="Address!.PostalCode" />
					<span asp-asp-validation-for="Address!.PostalCode!"></span>
				</div>
				<div id="from-city" class="input-group">
					<label asp-for="Address!.City!"></label>
					<input asp-for="Address!.City!" />
				</div>

				<div class="form-button">
					<button type="reset" class="btn btn-gray">Cancel</button>
					<button type="submit" class="btn btn-theme">Save changes</button>
				</div>
			</div>
		</form>
	</div>
</section>